# OS
.DS_Store

# Python
__pycache__/
*.py[cod]

# Virtual env
.venv/
venv/
env/

# Secrets
.env
.env.*

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# Data
*.csv
*.parquet
*.db

# Models
*.pkl
*.joblib
